{% load static %}
<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="description" content="名古屋のおいしいお店を紹介します">
    <meta name="viewport" context="width=device-width,initial-scale=1.0">

    {# Bootstrap #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    {# CSS #}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>NAGOYAMESHI</title>

    {% block head %}
    {% endblock %}
</head>
<body>
    <div class='fixed-top'>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #D6E5DF;">  
            <a class="navbar-brand" href="{% url 'nagoyameshiapp:index' %}">NAGOYAMESHI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'nagoyameshiapp:index' %}#search-restaurant">店舗検索</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'nagoyameshiapp:index' %}#list-restaurant">一覧</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'nagoyameshiapp:index' %}#new-restaurant">新着店舗</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <!-- ログインしている場合とログインしていない場合で処理を分岐させる -->
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nagoyameshiapp:mypage' %}">マイページ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">ログアウト</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">新規登録</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">ログイン</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    {% block main %}
    {% endblock %}
    
    {# Bootstrap #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    {# JavaScript #}
    <script src="{% static 'style.js' %}"></script>

    <footer>
        ©NAGOYAMESHI
    </footer>
</body>

    
</html>